.training-options-box {
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    gap: 5%;
}

.training-option-box {
    border: #2a94e7 3px solid;
    border-radius: 10px;
    background-color: white;
    flex: 1;

    transition: background-color 0.4s;
}

.training-option-box:hover {
    background-color: rgb(233, 233, 233);
}

.training-option-contents {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}