
body {
    background-color: darkgrey;
<<<<<<< HEAD
=======
    height: 100%;
>>>>>>> e14bced (Algne füüsiline elementide paigaldus tehtud, näidisvärvidega pealeht ilma sisuta tehtud)
}

h1, h2 {
    text-align: center;
}

.main-col-wrapper {
<<<<<<< HEAD
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12.5%;
    width: 75%;
    min-height: 100vh;
    background-color: grey;
=======
    width: 75%;
    min-height: 100vh;
    background-color: grey;
    margin: auto;
>>>>>>> e14bced (Algne füüsiline elementide paigaldus tehtud, näidisvärvidega pealeht ilma sisuta tehtud)
}

.main-column {
    width: 97%;
    margin: auto;
}
