
body {
    background-color: #2a94e7;
    height: 100%;
}

h1, h2 {
    text-align: center;
}

.main-col-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12.5%;
    width: 75%;
    min-height: 100vh;
    background-color: #a3d5ff;
}

.main-column {
    width: 97%;
    margin: auto;
}

.main-column-contents {
    width: 90%;
    margin: auto;
}
