
body {
    background-color: darkgrey;
}

h1, h2 {
    text-align: center;
}

.main-col-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12.5%;
    width: 75%;
    min-height: 100vh;
    background-color: grey;
}

.main-column {
    width: 97%;
    margin: auto;
}
